.main{
    width: 90%;
    border: 5px solid rgb(214, 211, 211);
    border-radius: 5px;
    padding:20px 20px 0px 20px;
    background-color: rgb(242, 242, 242);
}
img{
    width:8%;
    padding:0%;
    border-radius:60%;
    margin-left:25px;
  
}
.text{
    margin-left:0px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
    
}
.fire{
    width: 98%;
    height: 98%;
    border: 1px solid rgb(150, 148, 148);
    background-color: white;
}
h4{
    margin: 20px 20px 2px 20px;
}
p{
    margin: 5px 20px 20px 20px;

}
.profile img{
    width: 40%;
}
#para{
    padding: 15px 0px 10px 10px;
    margin: 0px;
    color: blue;
}
.right{
    display: flex;
    position: relative;
    left: 30em;
}
#para1{
    padding: 15px 10px 10px 0px;
    margin: 0px;
}
.right img{
    width: 4%;
}
.left{
display: flex;
}
.left img{
    width: 20%;
}
.one{
display: flex;
justify-content: space-between;
}