.main{
    background-color: rgb(254, 16, 163);
    width: 80%;
    height: 100vh;
    border-radius: 30px;
    padding: 30px;
}
#para{
    color: bisque;
    word-spacing: 2px;
    letter-spacing: 3px;
}
#text{
    color: white;
    padding-bottom: 30px;
}
.maincontainer{
    display: flex;
    gap: 20px;
    width: 70%;
    height: 60%;
}
.container{
    width: 35%;
    background-color: azure;
    border: 2px solid white;
    border-radius: 20px;
}
img{
    padding-top: 20px ;
    width: 15%;
}
h5{
    padding: -10px;
    color: rgb(224, 224, 95);
    font-size: 25px;
}
span{
    padding: 0px,20px,0px,20px;
    color: rgb(69, 69, 224);
    font-size: 30px;
}
h2{
    color: rgb(69, 69, 224);
}
.statement{
  margin: 20px;
}
a{
    padding: 16px; 
}
a:hover{
    background-color:blue;
    color: white;
}
.container:hover{
    transform: scale(1.1,1.1);
}      
h4{
    margin: 0px 16px 4px 16px;
    background-color: rgb(244, 218, 154);
    color: blue;
}

